/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #1e1d29;
} */

.albummodal-container {
  /* position: fixed; */
  height: 100%;
  width: 100%;
}

.albummodal-button {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 14px 22px;
  border: none;
  /* background: #4070f4; */
  border-radius: 6px;
  cursor: pointer;
}

.albummodal-button:hover {
  background-color: #265df2;
}

.albummodal-button.albumshow,
.albummodal-content {
  /* position: fixed; */
  /* position: absolute; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.albummodal-container.active .albummodal-button.albumshow {
  display: none;
}

.albummodal-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}

.albummodal-container.active .albummodal-overlay {
  opacity: 1;
  pointer-events: auto;
}

.albummodal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 380px;
  width: 100%;
  padding: 30px 20px;
  border-radius: 24px;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
}

.albummodal-container.active .albummodal-content {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.albummodal-content i {
  font-size: 70px;
  color: #4070f4;
}

.albummodal-content h2 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
  color: #333;
}

.albummodal-content h3 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: center;
}

.albummodal-content .albumbuttons {
  margin-top: 25px;
}

.albummodal-content button {
  font-size: 14px;
  padding: 6px 12px;
  margin: 0 10px;
}








