.cardeyelooping {
  background: var(--color-white);
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);


  background-image: url(../assets/img/eyelooping.gif);
  background-position: center;
  background-size: cover;

}

.cardeyelooping h3,p {
  color: transparent;
}
.cardeyelooping h3 {
  /* color: transparent; */
  /* color: aqua; */
  /* display: block; */
  /* text-align: center; */





  display: flex; 
        justify-content: space-around; 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        
        text-shadow: 0 0 20px #ff0000, 0 0 40px #ff0000f3;


        left: auto;
        
        z-index: 0;
        margin-top: 0;
        color: rgb(255, 255, 255);
        font-size: 50px;
        text-align: center;
        
        
        
        /* background-position: center;
        background-image: url(./img/clinclingif-ezgif.com.gif);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-size: contain; */
        letter-spacing: 0;
}
