.cardfamels {
  background: var(--color-white);
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  background-image: url(../assets/img/Clinvidremix1min-ezgif.com-effects.gif);
  background-position: center;

}

.cardfamels p {
  color: transparent;
}
