/* Marketing Modal Background */
#marketingModal {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* Show Modal */
#marketingModal.show {
  opacity: 1;
  pointer-events: auto;
}

/* Modal Box (no bounce) */
.marketing-modal-content {
  /* background-color: #fff; */
  background-color: transparent;
  /* padding: 30px 20px; */
  border-radius: 12px;
  width: 80%;
  max-width: 400px;
  position: relative;
  /* box-shadow: 0 8px 16px rgba(0,0,0,0.25); */
  box-sizing: border-box;

  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* On show: fade and slide in */
#marketingModal.show .marketing-modal-content {
  opacity: 1;
  transform: translateY(0);
}

/* Close Button */
.marketingCloseBtn {
  position: absolute;
  top: 25px;
  right: 15px;
  font-size: 46px;
  color: #ff0000;
  cursor: pointer;
}
.marketingCloseBtn:hover {
  color: #000;
}
