#playert {
  width: 400px;
  /* height: 500px; */
  margin: auto;

  /* text-align: justify; */
}

#controls {
  /* display: flex;
  justify-content: center; */
  display: inline;



}

#controls button {
  /* display: block ; */
  display: inline;
  /* width: 80px; */
}
#controls h1 {
  /* display: block ; */
  display: inline;
  /* width: 80px; */
}

#playlist {
  margin-top: 10px;
}

/* #playlist ol {
  list-style-type: disclosure-closed;



} */

#playlist li a {
  font-size: 50px;
  font-weight: 800;
  color: rgb(0, 26, 255);
}
#playlist li a {
  text-decoration: none;
}

#playlist li a.active {
  color: red;
}
/* style the progress bar */
#progress {
  width: 100%;
  height: 10px;
  background-color: #eee;
}
.cp {
  text-align: left;
  margin-top: 10px;
}



