


/* Text 1 */
/* Text 1 */
/* Text 1 */

.scrolling-text-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  /* background-color: #333; */

  background-image: url(/assets/img/LM-gif.gif);
  background-position: center;
  background-size: contain;

  color: #fff;
  padding: 10px 0;
}

.scrolling-text {



  text-align: center;
  
  /* font-family: fantasy; */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
  /* background-image: url(/assets/img/fallingsnow.gif);
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: contain; */

  color: #4b4b4b00;



  font-size: 300px;
  display: inline-block;
  padding-left: 100%;
  /*Startoff-screen*/animation: scroll-text 30s linear infinite;
  -webkit-animation: scroll-text 30s linear infinite;
}


@keyframes scroll-text {
  0% {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
}
  100% {
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
}
}


/* text 2 */
/* text 2 */
/* text 2 */

.scrolling-text-container2 {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  /* background-color: #333; */
  
  /* background-image: url(./assets/img/clinclingif-ezgif.com.gif);
  background-size: contain;
  background-position: center; */


  color: #fff;
  padding: 0;
}


.scrolling-text2 {

  text-align: center;

  /* font-family: fantasy; */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  background-image: url(/assets/img/Astrab1.gif);
  background-position: center;
  background-clip: text;


  -webkit-background-clip: text;
  color: transparent;
  background-size: contain;







  font-size: 180px;
  display: inline-block;
  padding-left: 50%;
  /*Startoff-screen*/animation: scroll-text2 13s linear infinite;
  -webkit-animation: scroll-text2 13s linear infinite;
}



@keyframes scroll-text2 {
  0% {
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
}
  100% {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
}
}








/* Responsive Design */
@media (max-width: 768px) {
  .scrolling-text {
      font-size: 25vw; /* Larger font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .scrolling-text {
      font-size: 15vw; /* Even larger font size for very small screens */
  }
}