/* Tickets Modal Background */
#ticketsModal {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* Show Modal */
#ticketsModal.show {
  opacity: 1;
  pointer-events: auto;
}

/* Modal Box */
.tickets-modal-content {
  background-color: #5c5c5ce3;
  text-shadow: 0 0 5px #00fffb, 0 0 10px #0081bc;

  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.062);
  border: 1px solid rgba(255, 255, 255, 0.116);
  box-shadow: 0 0 25px rgba(0, 255, 251, 0.671);

  
  /* background-image: url(../assets/img/); */



  
  padding: 20px 60px;
  border-radius: 12px;
  /* width: 90%; */
  /* max-width: 500px; */
  max-width: 80%;
  /* position: relative; */
  box-shadow: 0 8px 16px rgba(0,0,0,0.25);
  box-sizing: border-box;

  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Animate In */
#ticketsModal.show .tickets-modal-content {
  opacity: 1;
  transform: translateY(0);
}

/* Close Button */
.ticketsCloseBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 46px;
  color: #f70000;
  cursor: pointer;
}
.ticketsCloseBtn:hover {
  color: #000;
}
