.background-234 {
  /* left: auto; */
  /* bottom: 32px; */
  z-index: 0;
  margin-top: 0;
  color: rgb(184, 43, 43);
  font-size: 10vw;
  text-align: center;
  letter-spacing: 0;
  /* width: min(100%, 950px); */
}

/* .background-234.light-g6h {
  bottom: 56px;
  color: hsla(0, 0%, 100%, 0.35);
} */



.section-p4b {
  padding-top: 32px;
  padding-bottom: 32px;
}
.section-p4b.her-ojo {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: auto;
  min-height: 100vh;
  padding-top: 0;
  padding-bottom: 6em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: left;
}
.section-p4b.mus-p3z {
  overflow: hidden;
  padding-top: 4em;
  padding-bottom: 1em;
  font-weight: 400;
}
.section-p4b.video-85x {
  padding-top: 0;
  padding-bottom: 0;
}
.section-p4b.sho-qqk {
  overflow: hidden;
  padding-top: 4em;
  padding-bottom: 2em;
}


.section-p4b.sho-vvl {
  overflow: hidden;
  padding-top: 7em;
  padding-bottom: 2em;
}
.section-p4b.footer-6qo {
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: #000;
}





.sho-vvl {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}


.container-rtl {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.container-rtl.container-vlo {
  margin-top: 2em;
  padding-top: 0;
}

.column-br2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: min(100%, 950px);
  /* background-image: url(images/Gif/Heart1.gif); */
  background-size: 100%;
  background-size: cover;
  background-position: center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.column-br2.cen-rme {
  text-align: center;
}

.item-wgb {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  margin-right: 1%;
  margin-bottom: 32px;
  margin-left: 1%;
  padding: 22px 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  /* justify-content: space-between; */
  justify-content: space-evenly;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-bottom: 1px #fff;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  color: #333;
}


.title-lf6 {
  margin-top: 0;
}

.show-qlj {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}


.show-9ar {
  margin-right: 0;
  padding-right: 12px;
  border-right: 1px solid #000;
}

.show-cqt {
  padding-left: 12px;
}

.nav-link-ej8 {
  position: relative;
  margin-right: 8px;
  margin-left: 8px;
  padding: 4px 8px;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.nav-link-ej8:hover {
  color: hsla(0, 0%, 100%, 0.75);
}
.nav-link-ej8.button-yfj {
  display: inline-block;
  margin-top: 32px;
  margin-right: auto;
  margin-left: 0;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #000;
}
.nav-link-ej8.button-yfj.inv-vqd {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.nav-link-ej8.footer-197 {
  margin-right: 12px;
  margin-left: 0;
  padding-right: 4px;
  padding-left: 8px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.nav-link-ej8.button-yfj.rsv-f7w {
  margin-right: 0;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}



.button-yfj {
  display: inline-block;
  margin-top: 32px;
  margin-right: auto;
  margin-left: 0;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #000;
}
.button-yfj.inv-vqd {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.button-yfj.rsv-f7w {
  margin-right: 0;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

















@media screen and (max-width: 991px) {

  .section-p4b.mus-p3z {
    position: relative;
    padding-top: 4em;
    padding-bottom: 2em;
  }
  .section-p4b.sho-qqk {
    position: relative;
    padding-top: 5em;
    padding-bottom: 2em;
  }

  .section-p4b.sho-vvl {
    padding-top: 5em;
    padding-bottom: 2em;
  }
  .sho-vvl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .container-rtl.container-vlo {
    margin-top: 1em;
  }

  .item-wgb {
    width: 90vw;
    margin-bottom: 24px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-link-ej8 {
    display: none;
  }
  .nav-link-ej8.nav-link-5ho {
    display: block;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    font-family: Oswald, sans-serif;
    font-size: 4vw;
    line-height: 8vw;
    font-weight: 500;
    letter-spacing: 2px;
  }

  .nav-link-ej8.button-yfj {
    display: inline-block;
  }


  .nav-link-ej8.footer-197 {
    display: block;
    font-size: 10px;
  }

  








}





@media screen and (max-width: 767px) {
  .section-p4b.mus-p3z {
    padding-top: 7em;
  }
  .section-p4b.sho-qqk {
    padding-top: 7em;
  }
  .section-p4b.sho-vvl {
    padding-top: 7em;
    padding-bottom: 2em;
  }

  .nav-link-ej8.nav-link-5ho {
    font-size: 6vw;
    line-height: 12vw;
  }
.nav-link-ej8.footer-197 {
    font-size: 8px;
    letter-spacing: 2px;
  }
.nav-link-ej8.button-yfj {
    margin-top: 24px;
  }


}


@media screen and (max-width: 400px) {


  .section-p4b.mus-p3z {
    padding-top: 3em;
    padding-bottom: 2em;
  }
  .section-p4b.sho-qqk {
    padding-top: 3em;
    padding-bottom: 2em;
  }
  .section-p4b.sho-vvl {
    padding-top: 6.5em;
    padding-bottom: 2em;
  }
  .container-rtl {
    width: auto;
  }
  .container-rtl.container-vlo {
    margin-top: 2em;
  }
  .column-br2.cen-rme {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .item-wgb {
    margin-bottom: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    /* align-items: flex-start; */
    align-items:center;
  }


  .nav-link-ej8.nav-link-5ho {
    padding-right: 0;
    padding-left: 0;
    font-size: 8vw;
    line-height: 16vw;
  }
.nav-link-ej8.footer-197 {
    margin-right: auto;
    margin-left: auto;
    font-size: 10px;
  }
.nav-link-ej8.button-yfj.rsv-f7w {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    /* align-self: flex-start; */
    align-self: center;
  }
}




#style-KQEpB.style-KQEpB {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

#style-E8TDq.style-E8TDq {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
#style-Lhone.style-Lhone {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
#style-Jp1Ig.style-Jp1Ig {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
    rotateZ(0) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

