.titles{
  display: flex; 
  justify-content: space-around; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  
  text-shadow: 0 0 20px #ff0000, 0 0 40px #ff0000f3;


  /* left: auto; */
  
  z-index: 0;
  margin-top: 0;
  color: rgb(255, 255, 255);
  font-size: 50px;
  text-align: center;
  
  
  
  /* background-position: center;
  background-image: url(./img/clinclingif-ezgif.com.gif);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: contain; */

  letter-spacing: 0;

  }




  .titlesstore{
    display: flex; 
    justify-content: space-around; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    
    text-shadow: 0 0 20px #33ff0000, 0 0 40px #1100ff00;


    left: auto;
  
    z-index: 0;
    margin-top: 0;
    color: rgb(255, 255, 255);
    font-size: 100px;
    text-align: center;
    background-position: center;
    
    background-image: url(./assets/img/eyelooping.gif);
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;

    
    color: transparent;
    background-size: contain;

    letter-spacing: 0;
}


h2 {
  display: flex; 
  justify-content: space-around; 
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  
  /* text-shadow: 0 0 20px #ff0000, 0 0 40px #ff0000f3; */


  /* left: auto; */
  
  /* z-index: 0; */
  margin-top: 0;
  /* color: rgb(255, 0, 0); */
  /* font-size: 40px; */
  /* text-align: center; */
  
  
  
  background-position: center;
  background-image: url(../assets/img/startscomingatyou.gif);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: contain;
  letter-spacing: 0;
  
}














h8 {
  font-size: 4.5rem;
  /* line-height: 80%; */
  transform: rotateX(0) rotateY(-25deg);
  text-transform: uppercase;
  width: 400px;
  text-align: center;
  color: #b9dfff;
  color: #fff;
  font-family: "Zefani";
  font-family: "Abril Fatface";
  /* margin: 3rem auto; */
  margin: auto;
  position: relative;
  /* padding: 2rem 0 9rem; */
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
    0 0 35px #228dff, 0 0 40px #228dff;

  span {
    display: inline-block;
  }

  span:first-child {
    transform: translateZ(10px);
  }

  span:nth-child(2) {
    transform: translateZ(5px);
  }

  span:nth-child(3) {
    transform: translateZ(8px);
  }

  span:nth-child(4) {
    transform: translateZ(20px);
    -webkit-transform: translateZ(20px);
    -moz-transform: translateZ(20px);
    -ms-transform: translateZ(20px);
    -o-transform: translateZ(20px);
  }

  span:nth-child(5) {
    transform: translateZ(6px);
  }

  span:nth-child(6) {
    transform: translateZ(20px);
  }
}






h7 {
  /* font-size: 2.5rem; */
  line-height: 80%;
  transform: rotateX(0) rotateY(-25deg);
  text-transform: uppercase;
  
  /* width: 400px; */

  text-align: center;


  color: #fff;
  color: #ffffff;
  /* font-family: "Zefani"; */
  /* font-family: "Abril Fatface"; */

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


  /* margin: 3rem auto; */
  margin: auto;
  position: relative;
  /* padding: 2rem 0 9rem; */



  text-shadow: 0 0 5px #f30000, 0 0 10px #ffffff, 0 0 15px #fff, 0 0 20px #228dff,
  0 0 35px #228dff, 0 0 40px #228dff;


  }


  .h2{
    display: flex; 
    justify-content: space-around; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    
    text-shadow: 0 0 20px #ff0000, 0 0 40px #ff0000f3;


    left: auto;
    
    z-index: 0;
    margin-top: 0;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    
    
    
    /* background-position: center;
    background-image: url(./img/okok5.gif);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: contain; */
    letter-spacing: 0;
              
}


