/* body {
  font-family: 'Roboto', sans-serif;
  font-size: .5rem;
} */

/* .container {
  background-color: $black;
  line-height: 1.5;
  margin: 1rem;
  padding: 40px 25px;
} */

/* abbr {
  font-style: italic;
  position: relative
}

abbr:hover::after {
  background: #add8e600;
  border-radius: 4px;
  bottom: -100%;
  content: attr(title);
  display: block;
  left: -100%;
  padding: 1em;
  position: absolute;    
  width: 280px;
  z-index: 1;
} */




abbr[data-title] {
  position: relative;
  text-decoration: underline dotted; 
  
}
abbr[data-title]:hover::after,
abbr[data-title]:focus::after {
  content: attr(data-title);
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
  width: auto;
  white-space: nowrap;

  background: transparent;
  /* background-image: url(/assets/img/eyelooping.gif);
  background-position: center;
  background-size: cover; */

  color: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
  font-size: 14px;
  padding: 3px 5px;

  
}
