/* Track Marquee */
/* Track Marquee */
/* Track Marquee */

/* div { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    background: transparent; 
    font-size: 100%; 
    vertical-align: baseline;
}  */

.footer-1db {
  --item-speed: 3.5s;
  --grid-gap: 24px;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  /* padding-top: 10px;  */
  padding-inline: 24px;
  /* overflow: hidden; */
  overflow-x: scroll;
}

@media (hover: hover) {
  .footer-1db {
    --grid-gap: 32px;
    padding-inline: 0;
    overflow-x: hidden;
  }
}

.footer-3q9 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  animation: footer-marquee-mobile-wiggle 1.8s alternate-reverse infinite
    ease-in-out;
  -webkit-animation: footer-marquee-mobile-wiggle 1.8s alternate-reverse
    infinite ease-in-out;
}

@media (hover: hover) {
  .footer-3q9 {
    -webkit-animation: footer-marquee-desktop linear infinite;
    animation: footer-marquee-desktop linear infinite;
    -webkit-animation-duration: calc(var(--item-speed) * var(--item-count, 8));
    animation-duration: calc(var(--item-speed) * var(--item-count, 8));
  }

  .footer-3q9:hover {
    --grid-x-offset: -16px;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
}
@media (hover: hover) {
  .footer-3q9 {
    -webkit-animation: footer-marquee-desktop2 linear infinite;
    animation: footer-marquee-desktop linear infinite;
    -webkit-animation-duration: calc(var(--item-speed) * var(--item-count, 8));
    animation-duration: calc(var(--item-speed) * var(--item-count, 8));
  }

  .footer-3q9:hover {
    --grid-x-offset: -16px;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
}

.footer-ogw {
  display: grid;
  grid-auto-columns: -webkit-min-content;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translateX(var(--grid-x-offset, 0));
  -ms-transform: translateX(var(--grid-x-offset, 0));
  transform: translateX(var(--grid-x-offset, 0));
  -webkit-transition: -webkit-transform 0.6s ease-out;
  transition: -webkit-transform 0.6s ease-out;
  transition: transform 0.6s ease-out;
  transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
  gap: var(--grid-gap);
}

@media only screen and (max-width: 959px) {
  html {
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
  }
}

@media only screen and (max-width: 430px) {
  body {
    width: 100%;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  html {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@keyframes footer-marquee-desktop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    -webkit-transform: translate3d(calc(-50% - 16px), 0, 0);
    transform: translate3d(calc(-50% - 16px), 0, 0);
    transform: translate3d(calc(-50% - 16px), 0px, 0px);
  }
}
@keyframes footer-marquee-desktop2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    -webkit-transform: translate3d(calc(-50% - 16px), 0, 0);
    transform: translate3d(calc(-50% - 16px), 0, 0);
    transform: translate3d(calc(-50% - 16px), 0px, 0px);
  }
}





/* Popular Songs */
/* Popular Songs */

.swiper {
  display: grid;
  justify-content: center;
  align-items: center;

  width: 100%;
  /* padding: 16px 0 20px; */
  /* margin-bottom: 50px; */
}

.swiper-slide {
  /* padding-bottom: 20px; */
  /* padding-bottom: 80px; */

  position: relative;
  /* width: 600px; */
  width: 100%;
  /* width: 50%; */
}

.swiper-slide img {
  width: 100%;
  position: center;
  border-radius: 20px;
  height: 200px;
  object-fit: cover;
  border: 2px solid rgba(159, 160, 168, 0.5);
}

.slide-overlay {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 0 0 20px #00fffb, 0 0 40px #0081bc;

  display: grid;
  justify-content: center;
  align-items: center;

  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* justify-content: flex-end; */
  /* row-gap: 12px; */
  position: absolute;
  inset: 0;
  max-width: 100%;
  /* height: 98%; */
  /* background: linear-gradient(
        240deg,
        transparent,
        transparent,
        rgba(38, 21, 149, 0.8)
      ); */
  border-radius: 20px;
  /* padding: 30px; */
}

.slide-overlay h2 {
  font-size: clamp(1.2rem, 3vw, 2.2rem);
  font-weight: 700;
  color: white;
}
.slide-overlay h3 {
  font-size: clamp(1.3rem, 3vw, 2.2rem);
  font-weight: 700;
  color: white;
}

.slide-overlay button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  width: max-content;
  padding: 12px 16px;
  background: #e9e6eb2a;
  color: #e8e5e5;
  border: 1px solid rgba(159, 160, 168, 0.4);
  border-radius: 12px;
  outline: 0;
  font-size: clamp(0.7rem, 3vw, 1rem);
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: all 0.4s linear;
  cursor: pointer;
}

.slide-overlay button:is(:hover, :focus-visible) {
  background: #e9e6eb;
  color: #000;
}

@media only screen and (max-width: 430px) {
  .card {
    /* height: 400px; */
    /* font-size: 18px; */
  }

  .video {
    /* z-index: 10; */
    /* scale: 115%; */
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
  }
}