*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}



html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  transition: ease-in-out all 2s;
  /*height: 100%;
  *//*background-color: #111;
  */-webkit-transition: all 2s;
  -moz-transition: ease-in-out all 2s;
  -ms-transition: ease-in-out all 2s;
  -o-transition: ease-in-out all 2s;
  -webkit-transition: ease-in-out all 2s;
}

/* Fade in when scroll into view */
/* Fade in when scroll into view */
/* Fade in when scroll into view */

section > h2 {
  animation: fade-in linear;
  -webkit-animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 500px;
}
section > h1 {
  animation: fade-in linear;
  -webkit-animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 500px;
}

section > button {
  animation: fade-in linear;
  -webkit-animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 700px;
}

@keyframes fade-in {
  from {scale: .10; opacity: 0;}
  to {scale: 1; opacity: 1;}
}





h7 {
  font-size: 2.5rem;
  line-height: 80%;
  transform: rotateX(0) rotateY(-25deg);
  text-transform: uppercase;
  width: 400px;
  text-align: center;
  color: #b9dfff;
  color: #fff;
  font-family: "Zefani";
  font-family: "Abril Fatface";
  /* margin: 3rem auto; */
  margin: auto;
  position: relative;
  padding: 2rem 0 9rem;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
    0 0 35px #228dff, 0 0 40px #228dff;

  span {
    display: inline-block;
  }

  span:first-child {
    transform: translateZ(10px);
  }

  span:nth-child(2) {
    transform: translateZ(5px);
  }

  span:nth-child(3) {
    transform: translateZ(8px);
  }

  span:nth-child(4) {
    transform: translateZ(20px);
    -webkit-transform: translateZ(20px);
    -moz-transform: translateZ(20px);
    -ms-transform: translateZ(20px);
    -o-transform: translateZ(20px);
}

  span:nth-child(5) {
    transform: translateZ(6px);
  }

  span:nth-child(6) {
    transform: translateZ(20px);
  }
}









/* Hero Section */
/* Hero Section */
/* Hero Section */


/* body,
main {
  place-content: center;
} */
section {
  /* position: relative;
	min-height: 100vh;
	display: grid;
	place-items: center; */

  background-color: #080808;
  background-color: #000;

  /* background-image: url(./img/clinclingif-ezgif.com.gif);
  background-position: center;
  background-repeat: repeat-x; */

  min-height: 100vh;
}






/* .containers {
  display: flex;
  align-items: center;
  padding: 0 0 12px;
  overflow-x: auto;
  cursor: grab;
} */



/* navbar#1 */
/* navbar#1 */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #13333300;
  overflow: hidden;
  position: fixed;
  width: calc(100%);

  display: flex;
  /* justify-content: space-between; */
  justify-content: space-evenly;
  align-items: center;
  /* left: 70%; */
  /* z-index: 10; */
  margin: auto;
}

/* Style the links inside the navigation bar */
.topnav a {
  /* float: left; */
  color: #ffffff;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 35px;
  font-weight: 500;
  text-shadow: 0 0 20px #00fffb, 0 0 40px #001aff;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  /* background-color: #0081bc; */
  color: rgb(255, 255, 255);
  text-decoration: underline;

  /* color: rgb(255, 255, 255); */
  text-shadow: 0 0 20px #ff0606, 0 0 40px #0400ff;
}

/* Add a color to the active/current link */
/* .topnav a.active {
  background-color: #04AA6D;
  background-color: #0081bc;
  color: rgb(255, 255, 255);
} */

@media only screen and (max-width: 600px) {
  .topnav {
    padding-top: 0px;
    /* left: 5%; */
    width: calc(100%);
    margin: auto;
  }
  .topnav a {
    font-size: 30px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px 20px;
}
.navbar img {
  height: 40px;
}
.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar li {
  margin-left: 20px;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 15px;
}
.navbar a:hover {
  color: #ff0800;
}

.navbar a:hover {
  color: #ffffff;
}

.navbar .social-icons {
  display: flex;
  align-items: center;
}
.navbar .social-icons a {
  margin-left: 15px;
  font-size: 20px;
}





/** SLIDESHOW **/
/** SLIDESHOW **/
.slideshow,
.slideshow:after {
  top: -16px; /*Not sure why I needed this fix*/

  /* Important Background Slide show setting */
  /* Important Background Slide show setting */
  /* Important Background Slide show setting */
  position: absolute;

  width: 100%;
  height: 100%;
  left: 0px;
  z-index: 0;

  
}

.slideshow li span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 36s linear infinite 0s;
  -webkit-animation: imageAnimation 36s linear infinite 0s;
}

.slideshow li {
  color: transparent;
}

.slideshow li:nth-child(1) span {
  background-image: url("./assets/img/lucy.jpg");
  /* background-position: center;
  background-size: contain; */
}
.slideshow li:nth-child(2) span {
  background-image: url("./assets/img/clinclingif-ezgif.com.gif");
  /* background-position: center;
  background-size: contain; */
  animation-delay: 6s;
}
.slideshow li:nth-child(3) span {
  background-image: url("./assets/img/UnFlowZaza.gif");
  /* background-position: center;
  background-size: contain; */
  /* background-repeat: repeat-x; */
  animation-delay: 12s;
}
.slideshow li:nth-child(4) span {
  background-image: url("./assets/img/norygif.gif");
  animation-delay: 18s;
}
.slideshow li:nth-child(5) span {
  background-image: url("./assets/img/codigosvid.gif");
  /* background-position: center;
  background-size: contain; */
  animation-delay: 24s;
}
.slideshow li:nth-child(6) span {
  background-image: url("./assets/img/eyelooping.gif");
  /* background-position: center;
  background-size: contain; */
  animation-delay: 30s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}











  /* ClinClin Video Remix Comparison */
  /* ClinClin Video Remix Comparison */
  /* ClinClin Video Remix Comparison */

  .videovid {
    color: white;
    margin: 0 auto;
    padding: 1em;
    width: 400px;
    /* background: #1c1f2b; */
    background-image: url(./img/);
    background-position: center;
    background-size: contain;

    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
  }





/* Videos */
/* Videos */
/* Videos */



.video {
  /* z-index: 10; */
  /* scale: 115%; */
  transition: all 2s ease;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
}

/* ClinClin Video Remix Comparison */
/* ClinClin Video Remix Comparison */
/* ClinClin Video Remix Comparison */

.videovid {
  color: rgb(255, 0, 0);
  margin: 0 auto;
  /* padding: 1em; */
  width: 400px;
  /* background: #1c1f2b; */
  background-image: url(./assets/img);
  background-position: center;
  background-size: cover;

  text-align: center;

  border-radius: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  /* position: relative; */
}


/* Videos Properties */
/* Videos Properties */
/* Videos Properties */
/* Videos Properties */

.cardclinclin {
color: white;
margin: 0 auto;
padding: 1em;
width: 400px;
/* background: #1c1f2b; */
background-image: url(./assets/img/clinclingif-ezgif.com.gif);
background-position: center;
background-size: cover;

text-align: center;
border-radius: 10px;
-webkit-border-radius: 20px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
position: relative;
}

.cardfa {
color: white;
margin: 0 auto;
padding: 1em;
width: 400px;
height: 300px;
/* background: #1c1f2b; */
background-image: url(./assets/img/Quefue.gif);
background-position: center;
background-size: cover;

text-align: center;
border-radius: 10px;
-webkit-border-radius: 20px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
position: relative;
}

.cardnory {
color: white;
margin: 0 auto;
padding: 1em;
width: 400px;
/* background: #1c1f2b; */
background-image: url(./assets/img/codigosvid.gif);
background-position: center;
background-size: cover;

text-align: center;
border-radius: 10px;
-webkit-border-radius: 20px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
position: relative;
}



.cardwow {
color: white;
margin: 0 auto;
padding: 1em;
width: 400px;
/* background: #1c1f2b; */
background-image: url(./assets/img/Nory&Famelz-Wow.gif);
background-position: center;
background-size: cover;

text-align: center;
border-radius: 10px;
-webkit-border-radius: 20px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
position: relative;
}

.cardflow::after,
.cardflow::before {
--angle: 0deg;
content: "";
position: absolute;
height: 100%;
width: 100%;
/*background-image: conic-gradient(red, blue, #00ff99, #006aff, #ff0095,red);
*/

/* background-image: conic-gradient( from var(--angle), transparent 30%, blue, #00ff99, #006aff, #ff0095); */

background-image: conic-gradient(
  from var(--angle),
  transparent 0%,
  rgb(255, 255, 255),
  #000000,
  rgb(255, 255, 255)
);

top: 50%;
left: 50%;
translate: -50% -50%;
z-index: -1;
padding: 3px;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
animation: 3s;
-webkit-animation: 3s spin linear infinite;
}

.cardflow:hover {
.video {
  z-index: 10;
  /* scale: 2; */
  transition: all 2s ease;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
}
}








/* Animation spinner */
/* Animation spinner */
/* Animation spinner */



.spinner {
  animation-name: spinner;
  -webkit-animation-name: spinner;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.spinner {
  animation-timing-function: linear;
  animation-duration: 10s;
}
@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
